<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.zenlauncher.zenmode.testing.TestActivity"
            android:exported="true"
            android:taskAffinity="com.zenlauncher.zenmode.test"
            android:launchMode="standard" />
    </application>

</manifest>
